/* ---------------------- RESET ---------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

input {
    border-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

strong {
    font-weight: bold;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1.5;
}

ol, ul {
	list-style: none;
}
/* --------------------------------------------------- */

:root {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: montserrat;
    src: url(fonts/MontserratAlternates-Regular.otf);

}

/* ---------------------- LAYOUT ---------------------- */
body {
    display: grid;
    grid-template-columns: 1fr 4fr;

    min-height: 100vh;
}

/* SIDEBAR */
.dashboard-sidebar {
    grid-row: 1 / span 2;
}

.sidebar-row {
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 20px;
    align-items: center;

    margin-bottom: 15px;
}

/* HEADER */
.dashboard-header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.dashboard-header > div:first-child {
    display: grid;
    grid-template-columns: 20px auto;
}

.dashboard-header > div:nth-child(2) {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
}

.dashboard-header > div:nth-child(3) {
    display: flex;
    gap: 10px;
}

.dashboard-header > nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.dashboard-header-gap {
    gap: 15px;
    align-items: center;
}

/* ARTICLE */
.dashboard-article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2rem;
    gap: 15px;
}

.dashboard-article > h2 {
    grid-column: span 2;
}

.article-aside {
    grid-row: 1 / 5;
    grid-column: 3;

    display: flex;
    flex-direction: column;
    gap: 15px;
}
/* ---------------------------------------------------- */

/* --------------------- STYLING ---------------------- */
body {
    font-family: montserrat, system-ui;

    background-color:rgb(216, 222, 230);
}

/* SIDEBAR */
.dashboard-sidebar {
    color: rgb(248, 235, 212);
}

.sidebar-row > h1 {
    font-size: 2.5rem;
}

.dashboard-sidebar {
    background-color: rgb(17, 141, 235);

    padding: 15px;

    font-size: 1.8rem;
    font-weight: bold;
}

.sidebar-item-margin-bottom {
    margin-bottom: 40px;
}

.article-aside-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.article-aside-card:last-of-type > div {
    display: flex;
    gap: 10px;
    align-items: center;
}

.article-card {
    display: flex;
    flex-direction: column;
}

.article-card-bottom {
    display: flex;
    gap: 20px;
    height: auto;

    margin-top: auto;
    align-self: flex-end;
}

/* HEADER */
.dashboard-header {
    padding: 20px 60px 20px 20px;

    font-size: 1.2rem;
    font-weight: bold;

    background: rgb(251, 250, 247);

    box-shadow: 0px 5px 3px rgb(161, 163, 167);
}

.dashboard-header input[type="search"] {
    background-color: rgb(216, 222, 230);

    width: 100%;

    padding: 0.4rem;

    border-radius: 12px;
}

.dashboard-header > nav a {
    border-style: none;
    border-radius: 20px;

    background-color: rgb(17, 141, 235);

    color: rgb(248, 235, 212);

    padding: 10px;

    text-align: center;
}

/* ARTICLE */
.dashboard-article {
    padding: 20px 60px 0px 20px;
}

.dashboard-article h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

.dashboard-article h3 {
    font-size: 1.2rem;
    font-weight: bold;
}

.article-card {
    background-color: rgb(251, 250, 247);

    border-left: 5px solid burlywood;
    border-radius: 6px;

    padding: 20px;

    box-shadow: 0px 5px 3px rgb(161, 163, 167);
}

.article-aside-card {
    padding: 20px 20px 20px 20px;

    background-color: rgb(251, 250, 247);

    border-radius: 6px;

    box-shadow: 0px 5px 3px rgb(161, 163, 167);
}

.article-aside-card:first-of-type > div:nth-child(2) {
    padding: 10px 0px;

    border-top: 1px solid rgb(184, 184, 184);
    border-bottom: 1px solid rgb(184, 184, 184);
}
/* ---------------------------------------------------- */